html, body, .site{
    height: 200vh;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;  
}
.site{
    display: flex;
    flex-direction: column;
}
.top-container{
    flex-direction: column;
    flex: 3 1 1;
}
.top-container > .welcome-container{
    flex:1;
}
.site > *{
    flex:1;
    display: flex;
}
.header{
    background:#1F2937;
    display:flex;
    padding: 12px 36px;
}
.top-container{
    background:#1F2937;
}
.info{
    background: red;
}
.quote{
    background: palevioletred;
}
.subscribe{
    background: violet;
}
.footer{
    background: yellow;
}
a{
    color: white;
    text-decoration: none;
}
ul{
    display: flex;
    margin:0;
    padding:0;
    list-style: none;
    justify-content: flex-end;
    gap: 10px;
}
.header > *{
    flex: 1;
    align-items: center;
}
.header .header-logo{
    font-size: 24px;
    font-weight: bold;
}
img{
    width: 150px;
    height: 100px;
}
.welcome-container{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
    gap: 16px;
}
.header-text{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
.text{
    font-size: 18px;
    color: #F9FAF8;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 400px;
}

.content button{
    background: #3882F6;
    padding: 8px 32px;
    border-radius: 8px;
    color: white;
    font-weight: 700;
    align-self: flex-start;
    border: none;
}


